<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
        <meta name="description" content="activité aquatique à Montpellier : Planning">
        <meta name="keywords" content="Activités aquatiques;">
        <title>aqua-balneo.fr : Planning</title>
        <link rel="icon" href="../../favicon.ico" />
        <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/balneo.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- top nav -->
                <header>
                    <nav class="collapse navbar-collapse">
                        <br/>
                        <div>
                            <img src="../../assets/logo K-HYLE.png" alt='logo site'>
                            <h1 class="logoTitle">Centre Balnéo K-Hylé à Teyran</h1>
                        </div>
                        <br/>
                    </nav>
                </header>
                <!-- /top nav -->
            </div>
            <div class="wrapper">
                <div class="row">
                    <!-- sidebar gauche-->
                    <nav class="col-sm-2" role="navigation">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="../../index.html" rel="contents">
                                    <h2>Accueil</h2>
                                    <hr/>
                                </a>
                            </li>
                            <li>
                                <a href="./aquadouce.html" rel="section">AquaDouce</a>
                            </li>
                            <li>
                                <a href="./aquadynamic.html" rel="section">AquaDynamic</a>
                            </li>
                            <li>
                                <a href="./aquabike.html" rel="section">AquaBike</a>
                            </li>
                            <li>
                                <a href="./aquaphobie.html" rel="section">AquaPhobie</a>
                            </li>
                            <li>
                                <a href="./aquatraining.html" rel="section">Mix Aqua-tdaining</a>
                            </li>
                            <li>
                                <a href="./jardin.html" rel="section">Jardin Aquatique enfant</a>
                            </li>
                            <li>
                                <a href="./stage.html" rel="section">Stage de natation enfant</a>
                            </li>
                            <li>
                                <a href="./balneotherapie.html" rel="section">Balnéothérapie</a>
                            </li>
                            <li>
                                <a href="./professionel.html" rel="section">Professionels santé</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /sidebar -->

                    <!-- content -->
                    <!--Reussir à choper les dates..-->
                    <section class="col-sm-8" id="main">
                        <h2>Planning</h2>
                        <table class="table table-condensed table-bordered planning">
                            <thead>
                                <tr>
                                    <th class="first">Horaires</th>
                                    <th>Lundi</th>
                                    <th>Mardi</th>
                                    <th>Mercredi</th>
                                    <th>Jeudi</th>
                                    <th>Vendredi</th>
                                    <th>Samedi</th>
                                    <th>Dimanche</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="first">8:00</td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">8:30</td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td colspan ="2" rowspan="2">IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl        ...</td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                </tr>
                                <tr>
                                    <td class="first">9:00</td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td>IM BIG!\n i take so much plIM BIG!\n i take so much pl        IM BIG!\n i take so much pl        IM BIG!\n i take so much pl </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">9:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">10:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">10:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">11:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">11:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">12:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">12:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">13:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">13:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">14:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">14:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">15:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">15:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">16:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">16:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">17:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">18:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">18:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">19:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">19:30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="first">20:00</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <!-- sidebar droite-->
                    <nav class="col-sm-2" role="navigation">
                        <ul class="sidebar-nav">
                            <li>
                                <a href="../controllers/inscription.php" rel="noindex, nofollow">Inscription</a>
                            </li>
                            <li>
                                <a href="#" rel="section">Planning</a>
                            </li>
                        </ul>
                    </nav>
                    <!--sidebar droite -->
                    <footer>
                        <div class="col-sm-6 footerContent">
                            <a href="#" rel="section">Mix Aqua-training</a>
                            <span class="separator"></span>
                            <a href="#" rel="section">Mix Aqua-training</a>
                            <span class="separator"></span>
                            <a href="#" rel="section">Mix Aqua-training</a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="../../js/jquery-3.1.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>

    </body>

</html>