<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
        <meta name="description" content="activité aquatique à Montpellier : Stage de natation enfant">
        <meta name="keywords" content="Activités aquatiques;Stage de natation enfant">
        <title>aqua-balneo.fr : Stage de natation enfant</title>
        <link rel="icon" href="../../favicon.ico" />
        <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/balneo.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- top nav -->
                <header>
                    <nav class="collapse navbar-collapse">
                        <br/>
                        <div>
                            <img src="../../assets/logoK-HYLE.png" alt="logo site">
                            <h1 class="logoTitle">Centre Balnéo K-Hylé à Teyran</h1>
                        </div>
                        <br/>
                    </nav>
                </header>
                <!-- /top nav -->
            </div>
            <div class="wrapper">
                <div class="row">
                    <!-- sidebar gauche-->
                    <nav class="col-sm-2">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="../../index.php" rel="contents">
                                    <h2>Accueil</h2>
                                    <hr/>
                                </a>
                            </li>
                            <li>
                                <a href="./aquadouce.html" rel="section">AquaDouce</a>
                            </li>
                            <li>
                                <a href="./aquadynamic.html" rel="section">AquaDynamic</a>
                            </li>
                            <li>
                                <a href="./aquabike.html" rel="section">AquaBike</a>
                            </li>
                            <li>
                                <a href="./aquaphobie.html" rel="section">AquaPhobie</a>
                            </li>
                            <li>
                                <a href="./aquatraining.html" rel="section">Mix Aqua-training</a>
                            </li>
                            <li>
                                <a href="./jardin.html" rel="section">Jardin Aquatique enfant</a>
                            </li>
                            <li>
                                <a href="#" rel="section">Stage de natation enfant</a>
                            </li>
                            <li>
                                <a href="./balneotherapie.html" rel="section">Balnéothérapie</a>
                            </li>
                            <li>
                                <a href="./professionel.html" rel="section">Professionels santé</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /sidebar -->

                    <!-- content -->
                    <section class="col-sm-8" id="main">
                        <div class="accueilContent">
                            <h1 class="contentTitle">Stage de natation enfant</h1>
                            <!--Left part-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Description</h4>
                                    <p>Enfant à partir de 3 ans, cours de familiarisation dans un contexte ludique.</p>
                                    <p>L’objectif est de permettre à l’enfant d’acquérir une certaine autonomie dans un <em>milieu aquatique</em>.</p>
                                    <p>La température de l’eau d’environ 32° permettra à vos enfants de bénéficier de cette activité
                                        dans des conditions optimales.</p>
                                    <br/>
                                    <h4>Equipement</h4>
                                    <p>Les séances se déroulent dans une piscine de 6m par 3m, profonde de 1,2m, chauffée entre 31°c
                                        et 33°c. </p>
                                    <p>Elle est équipée de 6 buses de massage, de nage à contre-courant, de matériel d’hydrothérapie
                                        spécifique Les douches situées après les cabines/vestiaires individuels, sont OBLIGATOIRES
                                        avant l’entrée dans la piscine.</p>
                                    <p> Autour du bassin, vous devez juste vous munir d’un maillot de bain et d’une serviette, vos affaires
                                        personnelles pouvant rester dans des casiers individuels mis à votre disposition.</p>
                                </div>
                                <!--Left part-->

                                <!--Right part-->
                                <div class="col-sm-12 col-sm-offset-3">
                                    <img src="../../assets/test.jpg" id="imgJardin" class="img-thumbnail" alt="jardin aquatique enfant" style="width:50%;height: 50%"/>
                                </div>
                            </div>
                        </div>
                        <!--Right part-->
                    </section>
                    <!-- sidebar droite-->
                    <nav class="col-sm-2">
                        <ul class="sidebar-nav">
                            <li>
                                <a href="../controllers/inscription.php" rel="noindex, nofollow">Inscription</a>
                            </li>
                            <li>
                                <a href="./planning2.html" rel="section">Planning</a>
                            </li>
                        </ul>
                        <hr/>
                        <div class="row sidebar-right">
                            <div class="col-sm-12">
                                <h2>Horaires</h2>
                                <ul>
                                    <li>Mercredi 15H00 - 16H00</li>
                                    <li>Mercredi 16H - 17H00</li>
                                    <li>Samedi 15H00 - 16H00</li>
                                    <li>Samedi 16H-00 - 17-00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row sidebar-right">
                            <div class="col-sm-12">
                               <h2>Tarification</h2>
                                <ul>
                                    <li> 13€ à l’unité </li>
                                    <li> 130€ les 10 séances</li>
                                    <li> 210€ les 6 mois</li>
                                </ul>
                                <hr>
                                <p>L'activité est organisée par groupe de 5 ou 6 enfants.</p>
                            </div>
                        </div>
                        <hr/>
                        <!---
                        <div class="row sidebar-right info-supp">
                            <h4>Informations complémentaires</h4>
                            <p>Les séances d’une durée de 45 min sont dispensées en petits groupes (5 à 10 personnes maximum)</p>

                            <p>5 séances valable 6 semaines, 10 séances valables 3 mois, 20 séances valables 6 mois et 30 séances valable 1 an à compter de la première séance effectuée</p>

                            <p>La totalité du règlement s’effectue en début de première séance par chèque ou espèces : CB non acceptée</p>

                            <p>Suivez l’actualité et les offres du moment</p>
                            <a target='_blank' href='https://www.facebook.com/Aquagym.Natation.Teyran/'><img src="../../assets/lienFB.png" alt='lien facebook'></a>
                        </div>-->
                    </nav>
                    <!--sidebar droite -->
                    <footer>
                        <div class="col-sm-6 footerContent">
                            <a href="#" rel="section">Mix Aqua-training</a>
                            <span class="separator"></span>
                            <a href="#" rel="section">Mix Aqua-training</a>
                            <span class="separator"></span>
                            <a href="#" rel="section">Mix Aqua-training</a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="../../js/jquery-3.1.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>

    </body>

</html>